* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #3F72D8;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: Georgia,Times,serif,"Microsoft YaHei";
    color: #555555;
}

.header-container {
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
}

.header-container a {
    color: #333333;
}
.header {
    height: 50px;
    padding: 5px 0;
}

.header h1 {
    font-size: 2.5em;
    font-weight: bold;
    width: 300px;
    float: left;
}

.header a:hover {
    text-decoration: none;
    color: #90ee90;
}

.header span {
    float: right;
    margin-top: 30px;
    margin-right: 100px;
}

.nav {
    font-size: 1.5em;
}

.nav a {
    margin-right: 20px;
}

.header, .nav, .container {
    width: 960px;
    margin: auto;
}

.page a:hover {
    background-color: yellow;
}

.container {
    margin-top: 20px;
    line-height: 150%;
    font-size: 15px;
}

.main {
    width: 650px;
    float: left;
}

.entry h2 {
    margin-bottom: 10px;
}

.description {
    margin: 5px 0;
    font-size: 0.9em;
}

.description .blog-pub-time {
    float: left;
    width: 200px;
}

.description .blog-category {
    float: left;
    width: 200px;
}

.side {
    width: 250px;
    float: right;
}

.items {
    margin-bottom: 20px;
}

.items h3 {
    border-bottom: 1px double #000000;
}

.blog-intro {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #000000;
}

.footer {
    border-top: 1px solid black;
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
}