html {
    background: url("../image/ce_1px_bkg.gif") repeat scroll 0 0 transparent;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #555555;
}

h1, h2, h3, h4 {
    margin-bottom: 10px;
    color: #000000;
}
/*
*::selection {
    background: none repeat scroll 0 0 #3494C3;
    color: #ffffff;
}

*::-moz-selection {
    background: none repeat scroll 0 0 #3494C3;
    color: #ffffff;
}
*/
body {
    font-family: "Palatino","Georgia","Hiragino Mincho ProN","Microsoft YaHei","WenQuanYi Micro Hei",serif;
    color: #555555;
    margin: 0;
}

.header-container, .page, .footer {
    width: 960px;
    margin: auto;
}

.header-container {
    margin: 30px auto;
}

.header-container a {
    color: #555555;
}

.header {
    width: 300px;
    float: left;
}

.header h1 {
    font-size: 3em;
    margin: 0;
}

.header .sub-title {
    font-size: 1.2em;
    padding-left: 10px;
}

.header a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #555555;
}

.nav {
    float: right;
    font-size: 1.5em;
    margin-top: 30px;
}

.nav a {
    margin-left: 40px;
    padding: 15px 30px;
    background-color: #ffffff;
}

a:hover {
    background-color: #78e8a9;
    color: #ffffff;
}

.container {
    line-height: 150%;
    font-size: 15px;
}

.main {
    background: none repeat scroll 0 0 #FFFFFF;
    width: 630px;
    float: left;
    padding: 15px;
}

.main h2 a:hover, .main h3 a:hover {
    border-bottom: 2px solid #2d2d2d;
    background-color: transparent;
    color: #2d2d2d;
}

.main h2 {
    margin: 5px 50px 15px 0;
}

.main p a {
    background-color: #F4F4F4;
    padding: 0 3px;
}

.main p a:hover {
    color: #78e8a9;
}

#blog-entry {
    border-bottom: 2px solid #F4F4F4;
    margin-bottom: 15px;
}

.comments-link {
    background: url("../image/comment_bubble.png") no-repeat scroll center top;
    float: right;
    height: 34px;
    width: 40px;
    margin: 20px 10px 0 0;
    padding-top: 3px;
    text-align: center;
}

.comments-link:hover {
    background-position: center -36px;
    background-color: transparent;
}

.perm-link {
    margin: 10px 0;
}

.description {
    margin:  20px 0;
    color: #bbbbbb;
    font-size: 0.9em;
}

.pub-time {
    color: #78e8a9;
    font-family: "Din Display Pro Medium",Verdana,sans-serif;
}

.description .blog-category {
    float: left;
    width: 250px;
}

.text h3, .text h4 {
    margin: 15px 0;
}

.text p {
    margin-bottom: 10px;
}

.text blockquote {
    padding-left: 1em;
    border-left: 2px solid #78e8a9;
}

.text code {
    background-color: #F8F8F8;
    border: 1px solid #eaeaea;
    border-radius: 3px 3px 3px 3px;
    padding: 0 5px;
    white-space: nowrap;
    font-family: Consolas,"Liberation Mono",Courier,monospace;
}

.blogs-list ul li, .category ul li {
    list-style-type: none;
    margin-bottom: 5px;
    overflow: hidden;
}

.side {
    width: 270px;
    float: right;
}

.items {
    margin-bottom: 50px;
}

.items h3 {
    background: url("../image/separator_sm.png") no-repeat scroll center center transparent;
    text-align: center;
    color: #ffffff;
    display: block;
    height: 30px;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding-top: 7px;
    margin-bottom: 10px;
}

.items ul {
    margin-top: 15px;
    margin-left: 10px;
}

.items ul li {
    list-style-type: none;
}

.items .tag-cloud {
    margin-top: 15px;
}

.items .tag-cloud a {
    margin-right: 10px;
}

.items .tag-cloud font:hover {
    background-color: #78e8a9;
    color: #ffffff;
}

.blog-intro {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #F4F4F4;
}

.blog-intro .text {
    max-height: 250px;
    overflow: hidden;
}

.comments {
    margin-top: 80px;
}

.comments .comment-form {
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px dotted #F4F4F4;
}

.comments .comment-form p {
    margin: 10px 0;
}

.comments .comment-form input,
.comments .comment-form textarea {
    width: 50%;
    height: 22px;
    margin-right: 20px;
    border: 2px solid #F4F4F4;
    border-radius: 5px;
    padding: 2px 3px;
}

.comment-form input:focus,
.comment-form textarea:focus {
    border-color: #78e8a9;
}

.comments .comment-form input[type="submit"] {
    width: 20%;
    height: 35px;
    background-color: #F4F4F4;
    font-size: 1.2em;
}

.comment-form input[type="submit"]:hover {
    background-color: #78e8a9;
    border-color: #78e8a9;
    color: #ffffff;
}

.comments .comment-form textarea {
    width: 99%;
    height: 150px;
}

.comments-list {
    border-bottom: 2px solid #F4F4F4;
}

.comments-list .comment {
    margin: 20px 0;
    border-left: 2px solid #78e8a9;
    padding-left: 20px;
}

.comments-list .comment .comment-author {
}

.comments-list .comment .comment-body {
    margin-top: 10px;
}

.footer {
    border-top: 1px solid black;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 10px;
    text-align: center;
}