{% extends 'base.html' %}

{% block title %}
    About - Leon Young
{% endblock %}

{% block content %}
    <div class="entry">
        <h2>关于我</h2>
        <p>我的英文名叫 Leon Young，是一个大学生和程序员，
            目前就读于 <a href="http://www.sysu.edu.cn" target="_blank">中山大学</a>。
            我喜欢 <a href="http://python.org/" target="_blank">python</a>.
            <br><br>
        </p>
        <p>这是我用 <a href="http://www.djangoproject.com" target="_blank">Django</a> 自己搭建的一个简单的博客。
            本博客的源码托管在 <a href="http://www.github.com" target="_blank">Github</a> 上，
            项目主页在 <a href="http://www.github.com/DeanThompson/leon-blog" target="_blank">这里</a>。
            <br><br>
        </p>
        <p>你可以在微博上关注我 <a href="http://weibo.com/leonyoung2009" target="_blank">@李林克斯</a>，
            或者给我发邮件 <a href="mailto:yanglianglee@gmail.com">yanglianglee@gmail.com</a>。
        </p>
    </div>
{% endblock %}