{% extends 'base.html' %}

{% block title %}
    Blogs List - Leon Young
{% endblock %}

{% block content %}
    {% if posts_list %}
        <ul>
            {% for post in posts_list %}
                <li>
                    <span style="float:left; width: 350px;">
                        <a href="{{ post.get_absolute_url }}" title="{{ post }}">
                            {{ post|truncatechars:"20" }}
                        </a>
                    </span>
                    <span style="float:left; padding-left: 60px;">
                        分类: <a href="#">{{ post.category }}</a>
                    </span>
                    <span style="float:right;">
                        {{ post.pub_date|date:'Y-m-d' }}
                    </span>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>博主好懒，一篇博客都没写。</p>
    {% endif %}
{% endblock %}