{% extends 'base.html' %}

{% block title %}
    Home - Leon Young
{% endblock %}

{% block content %}
    {% if posts_list %}
        {% for post in posts_list %}
            <div class="blog-intro">
                <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                {% include 'blog/include/_blog.html' %}
                <div class="read-more">
                    <a href="{{ post.get_absolute_url }}">阅读全文 &raquo;&raquo; </a>
                </div>
            </div>
        {% endfor %}

        {% include 'blog/include/_paginate.html' %}

    {% else %}
        <p>There are no blogs.</p>
    {% endif %}
{% endblock %}