{% extends 'base.html' %}

{% block title %}
    {{ post.title }} - Leon Young
{% endblock %}

{% block content %}
    <div class="entry">
        <h2>{{ post.title }}</h2>
        <div class="description">
            <span class="blog-pub-time">发表于 {{ post.pub_date|date:"Y-m-d H:i" }}</span>
            <span class="blog-category">
                分类: <a href="{% url blog.views.category post.category.slug %}" title="查看分类为 {{ category }} 的文章">{{ post.category }}</a>
            </span>
            <span class="blog-tags">
                标签:
                {% for t in post.tags.all %}
                    <a href="#" title="查看所有标签为 {{ t }} 的文章">{{ t }}</a>
                    {% if not forloop.last %}
                        |
                    {% endif %}
                {% endfor %}
            </span>
        </div>
        <div class="text">
            {{ post.content|linebreaks }}
        </div>
        <br />
        <div class="perm-link">
            转载请标明出处，本文永久链接: <a href="http://{{ post_link }}">{{ post_link }}</a>
        </div>
    </div>
{% endblock %}